<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518621878077-gtc64n2tdvmplit6tg5thjq7ud0rui4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518621878077-gtc64n2tdvmplit6tg5thjq7ud0rui4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBqcOwG1im3BFOOfZwyNOjBg9P-07pGa_w</string>
	<key>GCM_SENDER_ID</key>
	<string>518621878077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roketto-dan.intern-borathon-2019</string>
	<key>PROJECT_ID</key>
	<string>roketto-dan</string>
	<key>STORAGE_BUCKET</key>
	<string>roketto-dan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518621878077:ios:e79ffc4561c9948a</string>
	<key>DATABASE_URL</key>
	<string>https://roketto-dan.firebaseio.com</string>
</dict>
</plist>